{{#each notes as |note|}}
  <section data-id="{{note.id}}">


    <h2 class="handlethebars"><span>#{{note.id}}) {{note.title}}</span></h4>
    <h3 class="handlethebars">Priority: <span>{{note.priority}}</span></h4>
    <h4 class="handlethebars"><span>{{note.body}}</span></h4>


    </section>

  {{/each}}
