{{#each notes as |note|}}
  {{log note}}
  <section data-id="{{note.id}}">


    <h2><span>{{note.id}}) </span>title: <span>{{note.title}}</span></h4>
    <h4>note priority: <span>{{note.priority}}</span></h4>
    <h4>note body: <span>{{note.body}}</span></h4>
    <h4>written by: <span>{{note.user.id}}</span></h4>

    </section>

  {{/each}}
